<% for column in Task.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @task.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @task %> |
<%= link_to 'Back', :action => 'list' %>
