<%= error_messages_for 'nic' %>

<!--[form:nic]-->
<%= hidden_field_with_label "Host", 'nic', 'host_id', @nic.host.hostname %>

<%= text_field_with_label "MAC Address", 'nic', 'mac'  %>

<%= text_field_with_label "IP Address", 'nic', 'ip_addr'  %>

<%= text_field_with_label "Usage Type", 'nic', 'usage_type'  %>

<%= text_field_with_label "Bandwidth", 'nic', 'bandwidth'  %>
<!--[eoform:nic]-->

