<% for column in Nic.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @nic.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @nic %> |
<%= link_to 'Back', :controller => 'host', :action => 'show', :id => @nic.host_id %>
