<%= error_messages_for 'hardware_resource_group' %>

<!--[form:hardware_resource_group]-->
<%= hidden_field_with_label "Supergroup", 'hardware_resource_group', 'supergroup_id', @hardware_resource_group.supergroup.name if @hardware_resource_group.supergroup %>

<%= text_field_with_label 'Name', 'hardware_resource_group', 'name'  %>
<!--[eoform:hardware_resource_group]-->

