<table class="listing">
<thead>
  <tr>
    <th>Name</th>
  </tr>
</thead>
<tbody>
<% for pool in hardware_pools %>
<tr class="<%= cycle('odd','even') %>">
  <td style="text-align:left;"><%= link_to pool.name, { :controller => 'pool', :action => 'show', :id => pool }, { :class => "show" } %></td>
</tr>
<% end %>
<tbody>
</table>
