module ovirt 1.0.1;
require {
    type fixed_disk_device_t;
    attribute file_type;
    type mount_t;
    type qemu_t;
    class blk_file { ioctl getattr setattr read write };
    class file { mounton getattr read write append entrypoint execute ioctl lock };
    class chr_file { getattr read write append ioctl lock };
    class fifo_file { getattr read  write append lock ioctl };
    class lnk_file { getattr read };
    class sock_file { getattr write };
    class fd { use };
    class process { sigchld signull transition noatsecure siginh rlimitinh };
    class filesystem { getattr };
    class dir { getattr search read lock ioctl };
    class unix_stream_socket { create { ioctl read getattr write setattr append bind connect getopt setopt shutdown } connectto };

    type initrc_t;
    type unconfined_t;
}
# Give qemu_t access to any block device
allow qemu_t fixed_disk_device_t:blk_file { ioctl getattr setattr read write };
# allow any file to be bindmounted (for /config)
allow mount_t file_type:file mounton;
# allow ovirt-firstboot to run unconfined
# TODO restrict to ovirt_t
#type ovirt_t;
#domain_type(ovirt_t)
#unconfined_domain_noaudit(ovirt_t)
#domain_entry_file(ovirt_t,ovirt_exec_t)
type ovirt_exec_t;
init_daemon_domain(unconfined_t,ovirt_exec_t)
