/****************
     header style 
**/

.header_logo {
    position:absolute; 
    top:10px; 
    left:10px;
}

.header_menu_wrapper {
  padding: 0;
  margin: 35px 0 0 0;
  float:left;
  height: 35px;
  width: 230px;
  background: #CCCCCC;
}

.header_titlebar {
  background: #979797;
  float: left;
  height: 25px;
  margin: 40px 0 0 0;
  padding: 8px 0 0 10px;
  width: 220px;
}

.header_menu {
  padding: 5px 0 0 10px;
  margin: 1px;
  background: #CCCCCC url(../images/bg_menu_big.jpg) repeat-x top;
  font-size: 110%;
  line-height:1.5;
  height: 26px;
  width: 216px;
  border: #FFFFFF solid 1px;
}

.header_menu_greybox {
  padding: 0;
  margin: 35px 0 0 0;
  float:left;
  height: 35px;
  width: 230px;
  background: #CCCCCC;
}

#hi-username{
  margin-right: 15px;
  float: left;
}

#search-form{
  float: left;
}

#help-link {
}

/*  ----- Toolbar Navigation --------  */
#toolbar_nav {
    background: #E5E5E5;
    float: left;
}
#toolbar_nav img{
    vertical-align: middle;
}
#toolbar_nav ul{
    list-style-type: none;
    margin:0;
    padding: 0;
}
#toolbar_nav li {
    margin: 0;
    padding: 0 10px 0 10px;
    position: relative;
    float: left;
    line-height: 2.3;
    height: 28px;
    border-right: 1px solid #5A7A8E;
    border-left: 1px solid #93B2C4;
    background: #000000 url(../images/bg_toolbarheader.jpg) repeat-x top;
}
#toolbar_nav li:hover {
    background: #4B95B8;
}
#toolbar_nav li.current {
    background: #4B95B8;
}
#toolbar_nav li, #toolbar_nav li a {
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
}
#toolbar_nav ul ul {
    position: absolute;
    top: 28px;
    left: 0;
    width: 100%;
    display: none;
}
#toolbar_nav ul li:hover ul{
   display: block;
   z-index: 1;
   background: #D1DDE8;
}
#toolbar_nav ul ul li{
   width: 200px;
   background: #DEE7EB;
   color: #000000;
   text-align: left;
   cursor: pointer;
}
#toolbar_nav ul ul li a{
   width: 200px;
   background: #DEE7EB;
   color: #000000;
   text-align: left;
   cursor: pointer;
}
#toolbar_nav ul ul li:hover a {
    background: #D1DDE8;
}

/***  the no grid items block ***/
.no-grid-items{
    padding: 45px;
    margin: 50px;
    width: 750px;
    height: 150px;
    border: 1px solid #E8E8E8;
    vertical-align: middle;
}
.no-grid-items-text {
  float: left;
  padding-top: 35px;
  padding-left: 20px;
}

/***************************
 *      Graphing Style
 **************************/
/* availability graphs on hardware resource summary tab */
#availability_graphs{ }
.availability_graph { float: left;padding: 0 0 20px 0;}
.availability_graph_left { float: left; width: 50px;}
.availability_graph_right { float: left; margin-top: 7px; margin-left: 30px; margin-right: 75px; min-width: 100px; color:#666666;}
#available_cpu, #available_memory, #available_vms,
#available_vcpu, #available_vram, #available_vm_quotas {margin-left:0;width:100px;height:70px}
.availability_total{ font-size: 130%; padding: 10px 0 0 0; color:#000000;}

/* history graphs on hardware / resource summary tab */
#history_graphs { position: relative; height: 315px; overflow: hidden; margin-left: 0; margin-top: 0; }
#history_graphs_control { position: absolute; z-index: 1; height: 20px; width: 98%; border: 1px solid #CCCCCC; background: #EEEEEE; }
.history_graphs_menu { float: left; width: 118px; }
.history_graphs_legend { float: right; height: 20px; width: 45%; }
.history_graphs_legend font { float: right; padding-top: 3px; }
#history_graphs_graphs {  position: absolute; overflow: hidden; height: 260px; width: 98%; border: 1px solid #CCCCCC; }
#history_graph_menu_header img{ vertical-align: middle; }
.history_graphs_menu ul {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    list-style-type: none;
    border-right: 1px solid #CCCCCC;
}
.history_graphs_menu ul li {
    height: 17px;
    background: #EEEEEE;
    text-align: justify;
    padding-left: 7px;
    padding-top:  3px;
    cursor: pointer;
    width: 110px;
}
.history_graphs_menu .history_graph_menu_item{
    display: none;
    border-right: 1px solid #CCCCCC;
    width: 120px;
}
.history_graphs_menu .history_graph_menu_item a{
    text-decoration: none;
    color: black;
}
.history_graphs_menu .history_graph_menu_fitem {
    border-top: 1px solid #CCCCCC;
}
.history_graphs_menu .history_graph_menu_litem {
    border-bottom: 1px solid #CCCCCC;
}
.history_graphs_menu:hover ul li {
    background: #CCCCCC;
}
.history_graphs_menu:hover .history_graph_menu_item {
    display: block;
    background: #CCFFFF;
}
.history_graph{
  height: 210px; 
  position: relative;
  float: left;
}
#cpu_history_1,  #load_history_1,  #memory_history_1,
#cpu_history_7,  #load_history_7,  #memory_history_7,
#cpu_history_30, #load_history_30, #memory_history_30
{
  height: 250px; width: 1200px; position: absolute; left: -70px;
}

/* snapshot graphs on hardware / resource summary tab */
#snapshot_graphs { height: 180px; padding-left: 0; }
#snapshot_graphs table { width: 98%; border-spacing: 1px; background: #CCCCCC; border-width: 0; border-style:solid;}
#snapshot_graphs th    { background: #EEEEEE; text-align: left; padding-left: 10px;}
#snapshot_graphs td    { padding-left: 10px; background: #FFFFFF;}
#load_snapshot, #cpu_snapshot, #net_in_snapshot, #net_out_snapshot, #io_snapshot, #memory_snapshot {
/*
#snapshot_graphs { height: 180px; padding-left: 60px; }
#snapshot_graphs table { width: 90%; border-spacing: 0;}
#snapshot_graphs th    { background: #CCCCCC; text-align: left; padding-left: 10px; border: 1px solid #DDDDDD;}
#snapshot_graphs td    { padding-left: 10px; border: 1px solid #DDDDDD;}
#load_snapshot, #cpu_snapshot, #net_in_snapshot, #net_out_snapshot, #io_snapshot, #memory_snapshot {
*/
  width: 350px; height: 10px; float: left;
}
.snapshot_graph_text {
   float: left;
   padding-top: 13px;
   width: 50px;
}
.snapshot_graph_container{
    float: left;
}
.snapshot_graph_arrow{
  width: 350px; height: 6px; float: left;
}
.snapshot_graph{
  float: left;
}

/* snapshot graphs on detail panes */
.selection_detail #snapshot_graphs { height: 140px; padding-left: 0; }
.selection_detail #snapshot_graphs table { width: 98%; }
.selection_detail #load_snapshot, 
.selection_detail #memory_snapshot, 
.selection_detail #cpu_snapshot, 
.selection_detail #net_in_snapshot, 
.selection_detail #net_out_snapshot, 
.selection_detail #io_snapshot { height: 5px; width: 215px; }
.selection_detail .snapshot_graph_arrow{ height: 6px; }
.selection_detail .snapshot_graph_text { padding-top: 0; }
.selection_detail .snapshot_graph_container{ width: 85%; }
.selection_detail .snapshot_graph{ padding-left: 23px; }

/* load graphs in flexigrid */
.load_graph {
}

/*************************
 *   details pane style  *
 *************************/
.detail-pane-chart {
    height: 50px;
    width: 375px;
};
