/****************
     header style 
**/

.header_logo {
    position:absolute; 
    top:10px; 
    left:10px;
}

.header_info {
  padding: 40px 10px 0px 10px;
  float: right;
  font-size: 100%;
  color: #B5B5B5;
}

.header_info a:link    { color: #B5B5B5; text-decoration: none; }   
.header_info a:active  { color: #B5B5B5; text-decoration: none; }
.header_info a:visited { color: #B5B5B5; text-decoration: none; }
.header_info a:hover   { color: #FFFFFF; text-decoration: none; }

.header_menu_wrapper {
  padding: 0;
  margin: 35px 0 0 0;
  float:left;
  height: 35px;
  width: 230px;
  background: #CCCCCC;
}

.header_menu {
  padding: 5px 0 0 10px;
  margin: 1px;
  background: #CCCCCC url(../images/bg_menu_big.jpg) repeat-x top;
  font-size: 110%;
  line-height:1.5;
  height: 26px;
  width: 216px;
  border: #FFFFFF solid 1px;
}

.header_menu_greybox {
  padding: 0;
  margin: 35px 0 0 0;
  float:left;
  height: 35px;
  width: 230px;
  background: #CCCCCC;
}

#hi-username{
  margin-right: 15px;
  float: left;
}

#search-form{
  float: left;
}

#help-link {
}

/*  ----- Toolbar Navigation --------  */
#toolbar_nav {
    background: #E5E5E5;
    float: left;
}
#toolbar_nav img{
    vertical-align: middle;
}
#toolbar_nav ul{
    list-style-type: none;
    margin:0;
    padding: 0;
}
#toolbar_nav li {
    margin: 0;
    padding: 0 10px 0 10px;
    position: relative;
    float: left;
    line-height: 2.3;
    height: 28px;
    border-right: 1px solid #5A7A8E;
    border-left: 1px solid #93B2C4;
    background: #000000 url(../images/bg_toolbarheader.jpg) repeat-x top;
}
#toolbar_nav li:hover {
    background: #1E99DF;
}
#toolbar_nav li, #toolbar_nav li a {
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
}
#toolbar_nav ul ul {
    position: absolute;
    top: 28px;
    left: 0;
    width: 100%;
    display: none;
}
#toolbar_nav ul li:hover ul{
   display: block;
   z-index: 1;
}
#toolbar_nav ul ul li{
   width: 200px;
   background: #E5F1FD;
   color: #000000;
   text-align: left;
   cursor: pointer;
}
#toolbar_nav ul ul li a{
   width: 200px;
   background: #E5F1FD;
   color: #000000;
   text-align: left;
   cursor: pointer;
}
#toolbar_nav ul ul li:hover a {
    background: #1E99DF;
}



/***************************
 *      Graphing Style
 **************************/
/* availability graphs on hardware / resource summary tab */
#availability_graphs{ overflow: hidden; }
.availability_graph { float: left; width: 33%;}
.availability_graph_left { float: left; width: 50px;}
.availability_graph_right { float: left; margin-top: 10%; margin-left: 125px; min-width: 100px;}
#available_memory, #available_storage, #available_vms {margin-left:50px;width:100px;height:100px}

/* history graphs on hardware / resource summary tab */
#history_graphs { height: 300px; overflow: hidden; margin-left: 40px; margin-top: 60px; }
#history_graphs_control { position: absolute; z-index: 1; height: 20px; width: 90%; border: 1px solid black; background: #CCCCCC; }
.history_graphs_menu { float: left; width: 15%; }
.history_graphs_legend { float: right; height: 20px; width: 15%; }
.history_graphs_legend font { float: right; padding-top: 3px; }
#history_graphs_graphs {  position: absolute; overflow: hidden; height: 210px; width: 90%; border: 1px solid black; }
#history_graph_menu_header img{ vertical-align: middle; }
.history_graphs_menu ul {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    list-style-type: none;
    border-right: 1px solid black;
}
.history_graphs_menu ul li {
    height: 17px;
    background: #CCCCCC;
    text-align: justify;
    padding-left: 7px;
    padding-top:  3px;
}
.history_graphs_menu .history_graph_menu_item{
    display: none;
    border-left:  1px solid black;
}
.history_graphs_menu .history_graph_menu_litem {
    border-bottom: 1px solid black;
}
.history_graphs_menu:hover .history_graph_menu_item {
    display: block;
    background: #CCFFFF;
}
.history_graph{
  height: 210px; 
  position: relative;
  float: left;
}
#host_usage_history, #storage_usage_history, #vm_pool_usage_history, #overall_load_history{
  height: 200px; width: 1200px; position: absolute; left: -70px;
}
