* { font-family: "Arial", "Bitstream Vera Sans", "Liberation Sans", sans-serif; }
body {  padding: 0px; margin: 0px auto; font-size: 12pt; margin: 0px; }

a { color: #0066dd; background-color: inherit; }
a:visited { color: #0066dd; background-color: inherit; }
a:hover { color: #0066dd; background-color: inherit; }

table, td, tr, th { margin: 0px; padding: 0px; border-collapse: collapse; }
hr { height: 1px; border: none; border-top: 1px solid #bbbbbb; margin: 14px 0px; }

#wrapper, #logoHeader { width: 976px; text-align: left; margin: 0px auto; position: relative;}
/* ========= HEADER ========== */

#headerFade { height: 55px; background: #000 url("/images/header-fade.png") repeat-x scroll top left;  }
#greenLine { height: 4px; background-color: #82aa32; }
#darkGreenLine { height: 1px; background-color: #688828; }

#loginStatus { font-size: 12pt; color: #ffffff; position: absolute; right: 10px; bottom: 10px; }
#loginStatus a { color: #fff; }

/* ========= TABLE ========== */

#main { width: 976px; }
#main td { vertical-align: top;}

/* ========= TREE ========== */

#left { width: 164px; background: #ffffff url("/images/left-fade.png") repeat-y scroll top right; border-left: 10px solid #fff;}
#tree { font-size: 10pt;  }
#tree a { display: block; width: 90%; }
#tree a:hover { background-color: #fff; }
#tree a.selected { background-color: #fff; }
#dashboard { padding: 0.5em 0em; }
div.group { margin-left: 0.2em; }
div.group a { padding-top: 0.2em; padding-bottom: 0.2em; }
a.pool { font-weight: bold; }
a.map { margin-left: 4px; }
a.collection { margin-left: 12px; }

/* ========= CENTER ========== */
#center { width: 570px; padding: 0px 10px; }

.heading { font-size: 14pt; padding: 10px 0px; font-weight: bold; }
#data { border-top: 2px solid #777777; }
strong.header { display: block; background-color: #dddddd; border: 1px solid #bbbbbb; padding: 4px; font-size: 9pt;  }
div.hardware-item { border: 1px solid #bbb; padding: 4px; }

/* ========= DATA TABLE ========== */

#data, .dataTable { display: table; width: 100%; }
#data div.inside, .dataTable div.inside { display: table-row; }
#dataTableWrapper, div.data-table-column { display: table-cell; margin: 0; }
div.data-table-column { padding: 0em; font-size: 10pt; }
div.data-table-column div { font-size: 9pt; }
.dataTable { margin-bottom: 1em; }

#dataTableWrapper { padding-top: 20px; }

h2.title { background-color: #f2f2f2; display: block; }

.data-section { border: 1px solid #bbbbbb; margin-bottom: 0.5em; }
.data-section-header { background-color: #e5e5e5; border-bottom: 1px solid #bbbbbb; padding: 0.2em; font-size: 9pt; padding: 4px;}
.data-section-stats { padding: 10px; color: #999; font-size: 9pt; }
.data-section-table { display: table; border-right: 1px solid #bbbbbb; border-top: 1px solid #bbbbbb; width: 20em;}
.data-section-table .inside { display: table-row; }
.data-section-table .odd { background-color: #f9f9f9;  }
.data-section-table .odd .data-section-table-cell { border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; }
.data-section-table-header, .data-section-table-footer { color: #4c4d50; font-size: 8pt; display: table-cell; background-color: #e5e5e5; }
.data-section-table-header {  border-bottom: 1px solid #bbbbbb; padding-left: 0.2em; }
.data-section-table-cell { display: table-cell; }
.data-section-table-footer { border-top: 1px solid #bbbbbb; }
.data-section-table input, .data-section-table select { font-size: 8pt; }

/* ========= RIGHT ========== */

#right { width: 222px; }
#right .heading { background-color: #fff; }
.tools { border-top: 2px solid #777777; padding: 10px; margin-bottom: 10px; color: #000; background-color: #efefef;}
.tools h3 { border: none; font-size: 10pt; }

label { display: block; font-size: small; color: #333; }
img { border: none; }
h2 { margin-top: 0em; }
h3 { position: relative; border-bottom: 1px solid #999; margin-bottom: 0.5em; }
span.amp { font-family: "Luxi Mono", monospace; font-size: small; }
span.unit { font-family: "Luxi Mono", monospace; font-size: small; }

form { display: inline; margin: 0em; padding: 0em; }
form.button-to div { display: inline; }
option.other { color: #999; }

#content { margin: 1em;  margin-left: auto; margin-right: auto; text-align: left; width: 50em; }
#header { border-bottom: 2px solid #001833; margin-bottom: 1em; }
#footer { border-top: 1px dotted #001833; margin-top: 1em; text-align: center; font-size: small; padding: 1em; }

/* ========= FLASH ========== */

div.alertbox { text-align: center; margin: 7px 0px; }
div.flash { padding: 7px 20px 7px 7px; position: relative; }
div.flash a.flash-close { position: absolute; right: 10px; top: 9px; }
#errmsg { background-color: #ff7f7f; border: 1px solid #cc0000; color: #111; padding: 0.3em 1em; }
#notice { font-weight: bold; background-color: #ffffcc;  border: 1px solid #fee4aa; }
div.flash a { text-decoration: none; }


/* ========= INPUTS ========== */

div.i { margin: 0.7em 0em; }

input[type="text"], input[type="password"], textarea {
	border: 1px solid #001833;
	background-color: #fafafa;
	color: #222;
}

input[type="text"]:focus { 	background-color: #fdfdfd; }
input[type="password"]:focus { 	background-color: #fdfdfd; }
textarea:focus { 	background-color: #fdfdfd; }

input[type="text"], input[type="password"] {
  font-size: 15pt;
  font-family: sans-serif;
	padding: 0.2em;
  font-weight: bold;
}

textarea { height: 10em; }

input[type="submit"] {
	font-size: 12pt;
	font-weight: bold;
	padding: 0 1em 0.1em 1em;
	background-color:#0066dd;
	color: #fff;
	border: 2px outset #0066dd;
}

input[type="submit"]:hover {
	background-color: #084fa1;
}


/* ========= ACTION LINKS ========== */

div.actions { font-size: 9pt; margin-bottom: 15px; }
div.actions a { display: block; margin-bottom: 5px; font-weight: bold; }

a.edit { color: #ff9933; }
a.create { color: #82aa32; }
a.remove { color: #cc0000; }
a.list, a.show { font-weight: bold; }

option.remove { font-weight: bold; color: #cc0000; }

/* ========= TABLE LISTS ========== */

table.listing { font-size: 9pt; width: 100%; border: 1px solid #bbbbbb; margin: 0em; padding: 0em; border-collapse: collapse;}
table.listing tr { padding: 0em; margin: 0em; border: 1px solid #bbbbbb; }
table.listing th { font-size: 9pt; padding: 7px 1px; text-align: center; font-weight: normal; color: #333; background-color: #eeeeee; }
table.listing th.empty { }
table.listing td { margin: 0em; padding: 10px 2px; color: #000; text-align: center; }
table.listing tr.even td { background-color: #f9f9f9; }
table.listing td .secondary { color: #999; font-size: 80%; }

/* ========= TASKS ========== */

ul.tasks { list-style: none; margin: 0em; padding: 0em; font-size: 10pt; }
ul.tasks li.task { margin: 0.5em 0em; padding: 0.25em 0em; padding-left: 0.5em; border: 1px solid transparent; border-left: 0.5em solid #3465a4; }
ul.tasks li.task:hover { border: 1px solid #3465a4; border-left: 0.5em solid #3465a4; }
li.task a.description { }
li.task span.state { color: #666; }



/* ======= DECENT SCAFFOLD DEFAULTS ======= */

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.fieldWithErrors {
  border: 2px solid red;
}

#errorExplanation {
  border: 1px solid #c00;;
  padding-bottom: 1.5em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 0.5em;
  font-size: small;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin: 1em;
}

#errorExplanation ul li {
  font-size: small;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}


