@charset "UTF-8";

/****************
    html elements 
**/

html {
  /*overflow: hidden;*/
  font-size: small;
}

body {
  /*overflow: hidden;*/
  font-family:"Lucida Grande","Luxi Sans","Bitstream Vera Sans","Trebuchet MS",helvetica,verdana,arial,sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color:#333333;
  font-size: 90%; 
}

img
{  
  border-style: none;
}


textarea:focus, input:focus {
  background-color: #FFFFCC;
}

a { color:#000000; text-decoration: none;}

/************************** 
    oVirt layout components 
**/

#header {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0px;    
  left: 0px;
  width: 100%;
  height: 90px;
  overflow: hidden;
  background:#535353 url(../images/bg_header.jpg) repeat-x top;
}

.header_image {
	position:absolute; 
	top:10px; 
	left:10px;
}

#side {    
  padding: 5px 0 0 5px;
  margin: 0;
  position: absolute;    
  top: 70px;
  left: 0px;
  bottom: 35px;
  overflow: auto;    
  width: 224px; 
  background-color:#FFFFFF;
  border-right: 1px #CCCCCC solid; 
}


#side-toolbar{
  float:none; 
  position:absolute; 
  bottom:0px;
}

#main {
  padding: 0;
  margin-left: 0;
  position: absolute;    
  top: 70px;
  left: 230px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
  background-color:#FFFFFF; 
  border-left:#CCCCCC solid 0px;
}

#navigation-tabs{
  height: 30px;
  position: absolute;
  top: -30px;
}

#content-area {
}

.toolbar {
  margin: 1px 0 1px 0;
  background: #CCCCCC url(../images/bg_menu_big.jpg) repeat-x top;
  height: 31px;
  border-left: #FFFFFF solid 1px; 
  border-top: #FFFFFF solid 1px; 
  border-bottom: #FFFFFF solid 1px; 
  border-right: #B4B4B4 solid 1px; 
  }

.breadcrumb_main {
  padding: 0;
  margin: 40px 0 0 10px;
  float:left;
  color:#B5B5B5;
}
.breadcrumb_main a:link    { color: #B5B5B5; text-decoration: underline; }   
.breadcrumb_main a:active  { color: #B5B5B5; text-decoration: underline; }
.breadcrumb_main a:visited { color: #B5B5B5; text-decoration: underline; }
.breadcrumb_main a:hover   { color: #FFFFFF; text-decoration: none; }

.breadcrumb_currentpage {
  color:#FFFFFF;
  font-size: 130%;
}




/*  ----- Right side of Header --------  */

.header_info {
  padding: 10px 20px 0px 10px;
  margin: 0;
  float: right;
  text-align: right;
  font-size: 100%;
  color: #B5B5B5;
}
.header_info a:link    { color: #B5B5B5; text-decoration: none; }   
.header_info a:active  { color: #B5B5B5; text-decoration: none; }
.header_info a:visited { color: #B5B5B5; text-decoration: none; }
.header_info a:hover   { color: #FFFFFF; text-decoration: none; }

#textfield_effect {
    border-width: 1px;
    border-style: solid;
    border-color: #7A7A7A;
    padding-left: 5px;
	background: #4A4A4A;
    font-size: 100%;
    color: #FFFFFF;
    width: 100px;
    height: 16px;
}
#searchbox-button{
    vertical-align: bottom;
}


.panel_header {
  padding: 5px 0 0 10px;
  margin: 0;
  height: 23px;
  color: #FFFFFF;
  font-size: 110%;
  border-left: 1px solid #93B2C4;
  background: #000000 url(../images/bg_toolbarheader.jpg) repeat-x top;
}



/*  ----- Blue Tabbed Navigation --------  */
.ui-tabs-nav {
	margin:0;
	padding: 0;
	background: none;
	list-style-type: none;
	float: left;
	font-size: 110%;
}
.ui-tabs-nav li {
	margin: 0 1px 0 1px;
	padding: 0;
	float: left;
}
.ui-tabs-nav a {
	float:left;
	padding: 0 15px 0 15px;
	color: #CCCCCC;
	text-decoration: none;
	line-height: 2.3;
	height: 24px;
	text-align: center;
	background: none;

}
.ui-tabs-nav a:hover {color:#FFFFFF; border-bottom: 5px solid #5599B8;}
.ui-tabs-selected a {color:#FFFFFF; font-weight: bold; height: 24px; line-height:1.6; border-bottom: 5px solid #5599B8;}

.ui-tabs-hide {/*display:none;*/}

/*  ----- Panel Contents --------  */

.panel_summary {
  padding:0;
  margin:0;
  height: 100px;
  background: #E5E5E5;
}

.data_section {
  overflow: auto;
  position: absolute;
  top: 28px;
  bottom: 171px;
  right: 0px;
  left: 0px;
}

.data_section_summary {
  padding: 20px 0 0 20px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  bottom: 170px;
  right: 0px;
  left: 0px;
  overflow: auto;
}
		.summary_title {
		  font-size: 160%;
		}
		
		.summary_subtitle {
		  clear: both;
		  font-size: 130%;
		}

.scrollable {
    overflow: scroll;
    height: 100%;
}

.selection_detail {
  margin: 0;
  position:absolute; 
  bottom:0px; 
  left: 0px;
  right: 0px;
  height: 170px;
  background: #DEE7EB;
  border-top: #CCCCCC solid 1px;
  overflow: auto;
}

.selection_left {
  padding: 10px 10px 10px 15px;
  height: 126px;
  float:left;
  width: 40%;
}

.selection_title {
  font-size: 120%; 
  font-weight:bold; 
  padding-bottom: 10px;
  float: left;
}

.selection_tools {
  background:transparent none repeat scroll 0%;
  color:#000000;
  float:left;
  line-height:1.7;
  list-style-type:none;
  margin:0pt;
  padding:0pt 8px;
  text-align:center;
  text-decoration:none;
}
.selection_tools li {
  float:left;
  margin:0pt 1px;
  padding:0pt;
}
.selection_tools img {
}
.selection_tools a {
  background:transparent none repeat scroll 0%;
  color:#000000;
  float:left;
  line-height:1.7;
  padding:0pt 8px;
  text-align:center;
  text-decoration:none;
}
.selection_tools a:hover {
  background:#B0CBDE none repeat scroll 0%;
}
.selection_key {
  text-align:right;
  float:left;
  color:#666666;
}

.selection_value {
  text-align:left;
  float:left;
  padding: 0 0 0 10px;
}

.selection_right {
  width:55%;
  float: right;
   padding-top: 10px;
   /*background: #F0F0F0;*/
   height: 140px;
 }
 
 .selection_right_title {
   padding: 4px 4px 4px 6px;
   background: #F0F0F0;
   float: left;
}

 .selection_right_table {
  height: 128px;
  overflow:auto;
  clear:both;
 }
 
 /*  ----- Selection Detail Tabbed Navigation --------  */
.selection_tab_nav {
	margin:0;
	padding: 0;
   background: #F0F0F0;
	list-style-type: none;
	float: right;
}
.selection_tab_nav li {
	margin: 0 1px 0 1px;
	padding: 0;
	float: left;
}
.selection_tab_nav a {
	float:left;
	padding: 0 8px;
	text-decoration: none;
	text-align: center;
	background: none;
	color:#000000;
	line-height: 1.7;

}
.selection_tab_nav a:hover {background:#E3E3E3;}





/*  ----- PopUp Dialog --------  */


.dialog_title {
  background:#DEE7EB; 
  padding:15px; 
  width:600px;
}

.dialog_title_small {
  background:#DEE7EB; 
  padding:15px;
  min-width: 500px; 
}

.header {
  font-size: 180%;
  line-height: 1.6;
}

.dialog_body {
  overflow: auto;
  height: 350px;
}

.popup_body {
  background: #FFFFFF;
  overflow: auto;
  height: 350px;
}

.confirm_dialog_title {
  width:400px;
  padding: 15px;
  font-size: 110%;
  background:url(../images/bg_warningMessage.png) top repeat-x;
}
.confirm_dialog_header {
  background:url(../images/icon_warning.png) top left no-repeat;
  padding: 0 0 0 45px;
  min-height:36px;

}
.confirm_dialog_footer {
  height: 37px;
  text-align:right;
  padding: 5px 9px 0 0;
}

.dialog_form {
  margin: 15px;
  background: #FFFFFF;
}

.dialog_tree {
  height: 200px;
  overflow: auto;
}

.form_heading {
  font-size:115%; color:  #666666;
  border-top:#CCCCCC 1px dotted;
  padding-top: 10px;
}

.field_title {
  font-size: 105%;
  /*font-weight:bold;*/
}

.field_helptext { font-size: 90%; color: #666666; }

.textfield_effect {
    padding: 2px 0 0 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
    font-size: 105%;
    width: 200px;
    height: 20px;
}

.dropdown_effect {
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
    font-size: 105%;
    height: 20px;
}

.form_field {
  margin-bottom:12px;
  margin-top:2px;
  padding-right:10px;
}

.clear_row {
  clear:both;
  height: 5px;
}

.button {
  padding: 0 0 0 2px;
  float:right;
 }

.button_left_blue {
  background:url(../images/button_left.png) no-repeat;
  width: 6px;
  height: 29px;
  float: left;
}
.button_middle_blue {
  background:url(../images/button_middle.png) repeat-x;
  height: 29px;
  float: left;
  color:#FFFFFF;
  line-height: 2.3;
  font-size: 105%;
  display:block;
}
.button_right_blue {
  background:url(../images/button_right.png) no-repeat;
  width: 6px;
  height: 29px;
  float: left;
}
.button_middle_blue a {color:#FFFFFF; text-decoration: none; display:block; padding: 0 10px 0 10px;}
.button_middle_blue a:hover {color:#E7EFF6; text-decoration:none; padding: 0 10px 0 10px;}

.button_left_grey {
  background:url(../images/button_left_grey.png) no-repeat;
  width: 6px;
  height: 29px;
  float: left;
}
.button_middle_grey {
  background:url(../images/button_middle_grey.png) repeat-x;
  height: 29px;
  float: left;
  color:#FFFFFF;
  line-height: 2.3;
  font-size: 105%;
  display:block;
}
.button_right_grey {
  background:url(../images/button_right_grey.png) no-repeat;
  width: 6px;
  height: 29px;
  float: left;
}
.button_middle_grey a {color:#FFFFFF; text-decoration: none; display:block; padding: 0 10px 0 10px;}
.button_middle_grey a:hover {color:#E7EFF6; text-decoration:none; padding: 0 10px 0 10px;}


.fieldWithErrors {
  background-color:#FFB2B2;
  border:3px solid #FFB2B2;
}

.errorExplanation {
  color:#333333;
  padding: 2px;
}


/* This file skins sliders */

.ui-slider { width: 200px; height: 23px; position: relative; background-repeat: no-repeat; background-position: center center; }
.ui-slider-handle { position: absolute; z-index: 1; height: 23px; width: 12px; top: 0px; left: 0px; background-image: url(images/slider-handle.gif); cursor: move;}
.ui-slider-handle-active { /*border: 1px dotted #CCCCCC;*/}
.ui-slider-disabled .ui-slider-handle { opacity: 0.5; filter: alpha(opacity=50); }
.ui-slider-range { position: absolute; background: #50A029; opacity: 0.3; filter: alpha(opacity=30); width: 100%; height: 100%; }

/* Default slider backgrounds */
.ui-slider, .ui-slider-1 { background-image: url(images/slider-bg-1.png); cursor: pointer;}
.ui-slider-2 { background-image: url(images/slider-bg-2.png); }



#slider_callout { background: #FFFFFF; height: 45px; width: 38px; overflow: hidden; position: absolute; top: -50px; margin-left:-10px;  padding: 8px 0px 0px 0px; font-family: "Myriad Pro"; color: #284a6e; font-weight: bold; text-align: center;} 

.slider_value { background: #FFFFFF; font-size:105%; padding-left:5px; float:left;}
.slider_minlabel { float:left; padding:4px 4px 4px 0;}
.slider_maxlabel { float:left; padding:4px;}
