<div id="left">
<h2><%= _("New Virtual Machine") %></h2>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form', :locals => { :create => true } %>
  <%= submit_tag "Create" %>
<% end %>

</div>

<div id="right">
  <h2>Actions</h2>
  <ul class="actions">
    <li class="action"><%= link_to 'Back to Vm Library', { :controller => 'library', :action => 'show', :id => @vm.vm_library_id }, { :class => "show" } %></li>
  </ul>
</div>
