<div id="left">
<h2><%= _("New Virtual Machine") %></h2>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form', :create => true %>
  <%= submit_tag "Create" %>
<% end %>

</div>

<div id="right">
  <h2>Actions</h2>
  <ul class="actions">
    <li class="action"><%= link_to 'Back to Quota', { :controller => 'quota', :action => 'show', :id => @vm.quota_id }, { :class => "show" } %></li>
  </ul>
</div>
