<div class="data-section">
  <div class="data-section-header"><strong>Available Storage</strong></div>
  <div class="data-section-stats">Statistics Data</div>
  <div class="data-section-table">
    <div class="inside">
      <%= render :partial => "/storage/list", :locals => { :storage_pools => @pool.storage_pools } %>
    </div>
  </div>
</div>
