[Unit]
Description=oVirt Node management server alert service
After=ovirt-early.service ovirt-firstboot.service
Wants=ovirt-early.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/ovirt-init-functions.sh start_ovirt_awake
ExecStop=/usr/libexec/ovirt-init-functions.sh stop_ovirt_awake

[Install]
WantedBy=multi-user.target
