[Unit]
Description=oVirt Node installation and configuration service
After=ovirt-early.service
Before=getty@tty1.service

[Service]
Environment=RUNLEVEL=3
Type=oneshot
ExecStartPre=-/usr/bin/plymouth quit
ExecStart=/usr/libexec/ovirt-init-functions.sh start_ovirt_firstboot
ExecStop=/usr/libexec/ovirt-init-functions.sh stop_ovirt_firstboot
RemainAfterExit=yes

# http://www.freedesktop.org/software/systemd/man/systemd.exec.html
StandardInput=tty-force
StandardOutput=inherit
StandardError=inherit
TTYPath=/dev/console

[Install]
WantedBy=multi-user.target
