[Unit]
Description=Communication with Igor (for test automation)
After=basic.target network-online.target
Before=ovirt-early.service
DefaultDependencies=no

[Service]
RemainAfterExit=no
ExecStart=/usr/libexec/ovirt-node-igor-slave run

[Install]
WantedBy=default.target
