[Unit]
Description=oVirt Node managed/standalone configuration service
After=ovirt-awake.service ovirt-firstboot.service
Wants=ovirt-awake.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/ovirt-init-functions.sh start_ovirt
ExecStop=/usr/libexec/ovirt-init-functions.sh stop_ovirt

[Install]
WantedBy=multi-user.target
