<%= error_messages_for 'host' %>

<!--[form:host]-->
<%= text_field_with_label "UUID", 'host', 'uuid'  %>

<%= text_field_with_label "Hostname", 'host', 'hostname'  %>

<%= text_field_with_label "Number of CPUs", 'host', 'num_cpus'  %>

<%= text_field_with_label "CPU Speed", 'host', 'cpu_speed'  %>

<%= text_field_with_label "Architecture", 'host', 'arch'  %>

<%= text_field_with_label "Memory (mb)", 'host', 'memory_in_mb'  %>
<!--[eoform:host]-->

