<%= error_messages_for 'host' %>

<!--[form:host]-->
<p><label for="host_uuid">Uuid</label>
<%= text_field 'host', 'uuid'  %></p>

<p><label for="host_num_cpus">Num cpus</label>
<%= text_field 'host', 'num_cpus'  %>

<p><label for="host_cpu_speed">Cpu speed</label>
<%= text_field 'host', 'cpu_speed'  %></p>

<p><label for="host_arch">Arch</label>
<%= text_field 'host', 'arch'  %></p>

<p><label for="host_memory">Memory</label>
<%= text_field 'host', 'memory'  %></p>
<!--[eoform:host]-->

