<%- content_for :title do -%>
  <%= _("Add Host") %>
<%- end -%>
<%- content_for :description do -%>
  Select hosts from the list below to add to the <%= @hardware_pool.name %> hardware pool.  <a href="#">Learn how to manage hosts</a>
<%- end -%>

<div class="panel_header"></div>
<div class="dialog_body">
  <%= render :partial => "/host/grid", :locals => { :table_id => "addhosts_grid",
             :hwpool_id => nil, :exclude_id => @hardware_pool.id, 
             :on_select => "false"  } %>
</div>

<%= popup_footer("add_hosts('#{url_for :controller => "hardware", 
                                      :action => "add_hosts", 
                                      :id => @hardware_pool}')", 
                 "Add Hosts") %>
