<%- content_for :title do -%>
  <%= _("Add Host") %>
<%- end -%>
<%- content_for :description do -%>
  Select hosts from the list below to add to the <%= @hardware_pool.name %> hardware pool.  <a href="#">Learn how to manage hosts</a>
<%- end -%>

<div class="panel_header"></div>
<div class="dialog_body">
  <%= render :partial => "/host/grid", :locals => { :table_id => "addhosts_grid",
             :hwpool => nil,
             :exclude_pool => @hardware_pool.id,
             :exclude_host => nil,
             :checkboxes => true,
             :on_select => "load_widget_select",
             :on_deselect => "load_widget_deselect",
             :on_hover => "load_widget_hover",
             :on_unhover => "load_widget_unhover"  } %>
</div>

<%= popup_footer("add_hosts('#{url_for :controller => "hardware", 
                                      :action => "add_hosts", 
                                      :id => @hardware_pool}')", 
                 "Add Hosts") %>
