<div id="left">
<h2><%= _("Editing Host") %></h2>

<% form_tag :action => 'update', :id => @host do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

</div>

<div id="right">
  <h2>Actions</h2>
  <ul class="actions">
    <li class="action"><%= link_to 'Show this Host', { :action => 'show', :id => @host }, { :class => "show" }  %></li>
    <li class="action"><%= link_to 'List All Hosts', { :action => 'list' }, { :class => "list" } %></li>
  </ul>
</div>
