<div id="left">
<%if @attach_to_pool -%>
  <h2><%= _("Choose a Host") %></h2>
<% else -%>
  <h2><%= _("Listing Hosts") %></h2>
<% end -%>

<%= render :partial => "list", :locals => { :hosts => @hosts } %>


</div>

<div id="right">
  <h2>Actions</h2>
</div>
  
