<div id="left">
<%if @attach_to_group -%>
  <h2><%= _("Choose a Host") %></h2>
<% else -%>
  <h2><%= _("Listing Hosts") %></h2>
<% end -%>

<%= render :partial => "list", :locals => { :hosts => @hosts } %>


</div>

<div id="right">
  <h2>Actions</h2>
<%unless @attach_to_group -%>
  <ul class="actions create">
    <li class="action"><%= link_to 'New host', { :action => 'new'}, {:class => "create" } %></li>
  </ul>
<% end -%>
</div>
  
