<div id="left">
<h2><%= _("New Host") %></h2>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

</div>

<div id="right">
  <h2>Actions</h2>
  <ul class="actions">
    <li class="action"><%= link_to "Back to #{@host.hardware_resource_group.name}", { :controller => 'pool', :action => 'show', :id => @host.hardware_resource_group.id }, { :class => "list" } %></li>
  </ul>
</div>
