<div id="left">
<h2><%= _("New Host") %></h2>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

</div>

<div id="right">
  <strong>Actions</strong>
  <ul class="actions">
    <li class="action"><%= link_to 'Back', { :action => 'list' }, { :class => "list" } %></li>
  </ul>
</div>
