<%= error_messages_for 'permission' %>

<!--[form:permission]-->
<p><label for="permission_privilege">Privilege</label><br/>
<%= text_field 'permission', 'privilege'  %></p>

<p><label for="permission_user">User</label><br/>
<%= text_field 'permission', 'user'  %></p>
<!--[eoform:permission]-->

