<%= error_messages_for 'permission' %>

<!--[form:permission]-->
<%= hidden_field_with_label "Pool", 'permission', 'pool_id', @permission.pool.name %>

<%= select_with_label 'Role', 'permission', 'user_role', Permission::ROLES.keys  %>

<%= select_with_label 'User', 'permission', 'uid', @users %>

<!--[eoform:permission]-->

