<%= error_messages_for 'permission' %>

<!--[form:permission]-->
<%= hidden_field_with_label "Hardware Pool", 'permission', 'hardware_pool_id', @permission.hardware_pool.name if @permission.hardware_pool  %>
<%= hidden_field_with_label "Quota", 'permission', 'quota_id', @permission.quota.name if @permission.quota  %>

<%= select_with_label 'Privilege', 'permission', 'privilege', Permission::PRIVILEGES  %>

<%= text_field_with_label 'User', 'permission', 'user'  %>

<!--[eoform:permission]-->

