<% for column in Permission.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @permission.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @permission %> |
<%= link_to 'Back', :action => 'list' %>
