#!/bin/env python
# -*- coding: utf-8 -*
# vim: set sw=4:

import sys
import os
import logging

sys.path.append(os.environ["IGOR_LIBDIR"])
import common.input


logger = logging.getLogger(__name__)

story = [
    # P. 1 Welcome
    # Press nothing, wait 0 seconds, expect "Install …"
    (None,                0, "Install Hypervisor"),

    # …
]

def main():
    logger.debug("Starting EXAMPLE")
    passed = False
    try:
        passed = suits_storyboard(story):
    except Exception as e:
        logger.warning(e.message)
    logger.debug("Finished EXAMPLE")

    return 0 if passed else 1

if __name__ == "__main__":
    sys.exit(main())
