<%= image_tag "icon_move.png", :style => "vertical-align:middle;" %>&nbsp;&nbsp;Change Role &nbsp;&nbsp;&nbsp;<%= image_tag "icon_toolbar_arrow.gif", :style => "vertical-align:middle;" %>
<ul>
   <% @roles.each_index { |index| %>
      <li onClick="update_users('<%=@roles[index]%>')"
      <% if index == @roles.length - 1 %>
        style="border-bottom: 1px solid black;"
      <% end %>
        >
            <%=@roles[index]%>
        </li>
   <% } %>
</ul>
