<div id="left">
<h2><%= _("Editing User") %></h2>

<% form_tag :action => 'update', :id => @user do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

</div>

<div id="right">
  <h2>Actions</h2>
  <ul class="actions">
  <li class="action"><%= link_to 'Show', { :action => 'show', :id => @user }, { :class => "create" }  %></li>
  <li class="action"><%= link_to 'Back', { :action => 'list' }, { :class => "create" }  %></li>
  </ul>
</div>
