<div id="left">
<h2><%= _("New User") %></h2>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

</div>

<div id="right">
  <h2>Actions</h2>
  <ul class="actions">
    <li class="action"><%= link_to 'All Users', { :controller => 'user', :action => 'list' }, { :class => "list" } %></li>
  </ul>
</div>

