<%= error_messages_for 'vm_resource_pool' %>

<!--[form:vm_resource_pool]-->
<%= hidden_field_tag 'parent_id', @parent.id %>
<%= text_field_with_label "Name", 'vm_resource_pool', 'name'  %>
<!--[eoform:vm_resource_pool]-->

