<%= error_messages_for 'vm_resource_pool' %>

<!--[form:vm_resource_pool]-->
<%= hidden_field_with_label ((@vm_resource_pool.superpool[:type] == HardwarePool.name) ? 
                              "Hardware Pool" : "Parent VM Resource Pool"), 
                            'vm_resource_pool', 'superpool_id', 
                            @vm_resource_pool.superpool.name   %>

<%= text_field_with_label "Name", 'vm_resource_pool', 'name'  %>

<!--[eoform:vm_resource_pool]-->

