[Unit]
Description=Performs managed node cim configuration setup.
After=ovirt-post.service
Wants=ovirt-post.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=-/etc/sysconfig/node-config
ExecStart=/usr/libexec/ovirt-init-functions.sh start_ovirt_cim
ExecStop=/usr/libexec/ovirt-init-functions.sh stop_ovirt_cim

[Install]
WantedBy=multi-user.target
