[Unit]
Description=Performs managed node configuration functions.
After=ovirt-awake.service
Wants=ovirt-awake.service

[Service]
Type=oneshot
RemainAfterExit=yes
#EnvironmentFile=-/etc/sysconfig/node-config
ExecStart=/usr/libexec/ovirt-init-functions.sh start_ovirt
ExecStop=/usr/libexec/ovirt-init-functions.sh stop_ovirt

[Install]
WantedBy=multi-user.target
