[Unit]
Description=Performs managed node post configuration setup.
After=ovirt.service
After=libvirtd.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/ovirt-init-functions.sh start_ovirt_post
ExecStop=/usr/libexec/ovirt-init-functions.sh stop_ovirt_post

[Install]
WantedBy=multi-user.target
