[Unit]
Description=Puts the node into configuration mode.

[Service]
Type=oneshot
ExecStart=/usr/libexec/ovirt-firstboot.sh start_ovirt_firstboot
ExecStop=/usr/libexec/ovirt-firstboot.sh stop_ovirt_firstboot

[Install]
WantedBy=multi-user.target
