[Unit]
Description=Managed node early configuration service
After=fedora-readonly.target local-fs.target network.target
Wants=fedora-readonly.target local-fs.target network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/ovirt-init-functions.sh start_ovirt_early
ExecStop=/usr/libexec/ovirt-init-functions.sh stop_ovirt_early

[Install]
WantedBy=multi-user.target
