h1.page-title {
  padding-left: 32px;
  padding-right: 24px;
  font-family: "DejaVu LGC Sans Condensed", "Luxi Sans", sans-serif;
  font-size: x-large;
  color: #555;
  width: 45%;
  float: left;
}

a, a:link {
  color:        #4a84c2;
}

#login-frame {
  background:           #f5f5f4;
  width:                400px;
  -moz-border-radius:   10px;
  border-radius:        10px;
  padding:              5% 5% 2% 5%;
  border:               1px outset #fff;
  margin:               auto;
}

#login-frame #logo {
  margin:               0px 15% 0px 15%;
}

#login-frame dt {
  font-weight:          700;
  float:                left;
  clear:                left;
  width:                100px;
  text-align:           right;
}

#login-frame dd {
  padding-top:          0px;
  margin-bottom:        5px;
  text-align:           right;
}

#login-frame dd.caption {
  font-size:            8pt;
  margin-bottom:        20px;
}

#login-frame dl {
  margin:               20px 15% 0px 15%;
}

.text-input {
  border:               1px solid #999;
  margin-left:          6px;
  -moz-border-radius:   6px;
  border-radius:        6px;
  padding-left:         3px;
  width:                160px;
}

input.button-input {
  color:                #777;
  background-color:     #ddd;
  font-weight:          700;
  margin-top:           10px;
  border:               1px solid #aaa;
  -moz-border-radius:   6px;
  border-radius:        6px;
}



/* These styles basically allow the top bar to be flush against the edges of the    
          browser window */
body { 
  margin-top:   0px; 
  margin-left:  0px; 
  margin-right: 0px;
  padding-left: .5%;
  background-color: white; 
}

body.login {
  background:   #dce7f3 url('images/bg-image.png') repeat-x top;
  color:        #999;
  font-family:  'Bitstream Vera Sans', 'Helvetica', 'Verdana', sans-serif;
}

/* This is the topmost black bar on the page. It contains the name of the page     
                 and some images for decoration */
div#topbar { 
  padding-top: 12px;
  height: 65px; 
}

/* This is the style that defines the bold page title in the upper left. */

h1#product-name {
  clear: left;
  color: white; 
  padding: 0px 0px 0px 0px; 
  font-family: sans-serif; 
  margin: 0px;
}

/* This is the area where the product name & blurb are displayed */


/* logo is in this class */
div#page-title {
  margin-left: 3%;
  margin-top: 23px;
  height: 40px;
  color: #fff;
  font-weight: 900;
  font-size: large;
  font-family: sans-serif
  width: auto;
  background: url('images/logo-small.png') top left no-repeat;
}

body.login div#page-title {
  margin: auto;
  height: auto;
  background: none;
}

span#title-text {
  visibility: hidden;
}
div#pageLogin { font-family: verdana; text-align: right; }

span#blurb {
  width: 200px;
  margin-left: 8px;
  padding: 0;
  color: #aaa;
  font-weight: 700;
  font-size: large;
  font-family: sans-serif
}

div#content-main {
  padding-left: 32px;
  padding-right: 24px;
  font-family: sans-serif;
  font-size: small;
  color: #555;
  width: 45%;
  float: left;
  clear: both;
}

div#content-main h2 {
  border-bottom: 5px solid maroon;
  line-height: 92%; 
  padding: 0px;
  margin-top: 15px;
  font-size: large;
  font-weight: 900;
  text-transform: uppercase;
  color: #777;
  width: 100%;
  text-align: right;
}

div.alertbox {
  font-weight: bold;
  padding: 6px 12px 32px 32px;
}

hr {
  background-image: url('img/black-red/hr.png');
}

/* Navigational menus */
div#navigation {
  width: 100%;
  margin-bottom: 0px;
}

/* fancy menus, thanks: http://phoenity.com/newtedge/horizontal_nav/ */

ul.nav,
.nav ul{
/*Remove all spacings from the list items*/
	margin: 0;
	padding: 0px;
	cursor: default;
	list-style-type: none;
	display: inline;
        margin-bottom: 20px;
}

ul.nav {
	padding: 2px 2px;
}

ul.nav{
	display: table;
        border-style: none;
        background-color: black;
}
ul.nav>li{
	display: table-cell; 
	position: relative;
	padding: 2px 14px;
}

ul.nav li>ul{
/*Make the sub list items invisible*/
	display: none;
	position: absolute;
	max-width: 40ex;
	margin-left: -6px;
	margin-top: 2px;
}

ul.nav li:hover>ul{
/*When hovered, make them appear*/
	display : block;
}

.nav ul li a{
/*Make the hyperlinks as a block element, sort of a hover effect*/
	display: block;
	padding: 2px 10px;
}

/*** Menu colors (customizable) ***/

ul.nav, ul.nav li {
	font-family: "DejaVu LGC Sans Condensed", "Luxi Sans", sans-serif;
        font-size: .9em;
}

ul.nav,
.nav ul,
.nav ul li a{
	background-color: #729fcf;
	color: #6a8099;
	border-bottom: 1px dashed #a9b9cc;
}

ul.nav {
	width: 95%;
	color: white;
        margin-left: auto;
        margin-right: auto;
}

.nav ul, .nav ul li a {
        background-color: #bed3e9; 
}

.nav ul li a {
	padding-top: 6px;
	padding-bottom: 6px;
}



.nav ul li a:hover{
	background-color: #648ebc;
	color: #fff;
        font-weight: 850;
}

ul.nav li:hover {
	color: #526c8a;
}

ul.nav li:active,
.nav ul li a:active{
	background-color: #92b5da;
	color: #fff;
}


ul.nav,
.nav ul{
	border: none;
}

ul.nav {
        -moz-border-radius: 4%;
        border-top: 1px dashed #f5f3ff;
}

.nav a{
	text-decoration: none;
}

table.listing {
	border-collapse: separate;
        border-spacing: 0px 0px;
}

table.listing th, td {
        font-family: "Luxi Sans", "DejaVu LGC Sans Condensed", sans-serif;
        border-right: 1px solid #c4d7eb;
        padding-right:16px;
        padding-left: 8px; 
        border-bottom: 1px dashed #d0d0d0;    
}

table.listing th {
        height: 1.8em;
        vertical-align: bottom;
        text-align: left;
        font-size: .8em;
        color: #555;
        font-weight: 700;    
}

table.listing td {
        font-size: .8em;
	color: #777;
        font-weight: 100;
        padding-top: 4px;
        padding-bottom: 4px;
}

table.listing tr.odd td {
	background-color: #f5f3ff;
}

table.listing .col-last {
        border-right: none;
}

h1 {
       font-family: "DejaVu LGC Sans Condensed", "Luxi Sans", sans-serif;
       font-weight: 700;
       font-size: x-large;
       color: #777;
}
