<div class="toolbar" style="float:left;">
   <a href="#">
     <img title="Add Hardware Pool" src="/images/icon_add_hardwarepool.png" />
   </a>
</div>
<div class="toolbar" style="float:left;">
   <a href="#">
     <img title="Add Virtual Machine Pool" src="/images/icon_add_vmpool.png" />
   </a>
</div>
<div class="toolbar" style="float:left;">
   <a href="#">
     <img title="Delete Selected Pool" src="/images/icon_delete.gif" />
   </a>
</div>

<div class="toolbar"></div>
