<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= yield :title -%></title>
  <%= stylesheet_link_tag 'ovirt' %>
  <%= yield :scripts -%>
</head>
<body style="background: #fff url('<%= image_path('fade.png') -%>') repeat-x scroll top left;">

<div id="wrapper">

  <%= render :partial => '/layouts/header' %>

  <div id="body">

    <div id="left">

      <%= render :partial => '/layouts/tree' %>

    </div> <!-- end #left -->

    <div id="primary">

      <div id="heading"><h3><%= yield :title -%></h3></div>

      <div id="viz"></div>

      <div class = "alertbox">
      <%- for name in [:notice, :errmsg] -%>
        <%- if flash[name] -%>
          <%= "<div class=\"flash\" id=\"#{name}\">#{flash[name]}</div>" -%>
          <%= javascript_include_tag "prototype" -%>
          <%= timeout_flash name -%>
        <%- end -%>
      <%- end -%>
      </div>

      <div id="data">
        <div class="inside">

            <%= yield  %>

        </div> <!-- end #data.inside -->
        </div> <!-- end #data -->

      </div> <!-- end #primary -->

  </div> <!-- end #body -->
</div> <!-- end #wrapper -->

</body>
</html>
