<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= yield :title -%></title>
  <%= stylesheet_link_tag 'default' %>
  <%= javascript_include_tag "prototype" -%>
  <%= yield :scripts -%>
</head>
<body>

  <div id="headerFade"><div id="logoHeader"><%= image_tag("ovirt_logo.png", :class_name => "logo") -%><span id="loginStatus">Logged in as: <strong><%= @controller.get_login_user -%></strong> | <a href="">freeIPA</a></span></div></div>
  <div id="greenLine">&nbsp;</div>
  <div id="darkGreenLine">&nbsp;</div>

<div id="wrapper">

  <table id="main"><tr>
  <td id="left">
    <%= render :partial => '/layouts/tree' %>
  </td>
  <td id="center">
    <div class="heading"><%= yield :title -%></div>

    <div class = "alertbox">
    <%- for name in [:notice, :errmsg] -%>
      <%- if flash[name] -%>
        <%= "<div class=\"flash\" id=\"#{name}\">#{flash[name]}</div>" -%>
        <%= timeout_flash name -%>
      <%- end -%>
    <%- end -%>
    </div>

    <%= yield  %> <% # the rest of the center and right hand side %>

  </tr></table>

</div> <!-- end #wrapper -->

</body>
</html>
