<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= yield :title -%></title>
  <%= stylesheet_link_tag 'default' %>
  <%= javascript_include_tag "prototype" -%>

  <%= stylesheet_link_tag '/javascripts/jquery-treeview/jquery.treeview.css' %>
  <%= javascript_include_tag "jquery.pack.js" -%>
  <%= javascript_include_tag "jquery-treeview/jquery.treeview.js" -%>
  <%= javascript_include_tag "jquery-treeview/jquery.treeview.async.js" -%>
  <%= yield :scripts -%>
      <script type="text/javascript">
        jQuery.noConflict()
        jQuery(document).ready(function(){
	    jQuery("#treenav").treeview({
 	                url: "<%= url_for :controller =>'/hardware', :action => 'json' %>",
                        hardware_url: "<%=  url_for :controller =>'/hardware', :action => 'show' %>",
                        resource_url: "<%=  url_for :controller =>'/resources', :action => 'show' %>"
	    })
	});
      </script>
</head>
<body class="tundra">

  <div id="headerFade"><div id="logoHeader"><%= link_to image_tag("ovirt_logo.png", :class_name => "logo"), :controller => "resources", :action => "list" -%><span id="loginStatus">Logged in as: <strong><%= @controller.get_login_user -%></strong></div></div>
  <div id="greenLine">&nbsp;</div>
  <div id="darkGreenLine">&nbsp;</div>

  <table id="main"><tr>
  <td id="left">

    <%= render :partial => '/layouts/tree' %>
  </td>
  <td id="center">
    <div class="heading"><%= yield :title -%></div>

    <%= yield  %> <% # the rest of the center and right hand side %>

  </tr></table>

</div> <!-- end #wrapper -->

</body>
</html>
