<html xmlns="http://ww.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">

  <head>

     <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
     
     <!-- dynamically filled in page title -->
     <title>ovirt: <%= @page_title %></title>
     
     <link rel="stylesheet" href="/style.css" type="text/css" />

  </head>

  <body class="<%= @body_class %>">
      
      <div id="topbar">

          <div id="page-title">
          
              <!-- dynamically filled in page title -->
              <span id="title-text">ovirt</span>
              </div>
          </div>
    <div id="pageLogin">
        <span>
            Logged in as: <%= @request.env["HTTP_X_FORWARDED_USER"] %>
        </span>
    </div>

      <!-- navbar -->
      <%= ApplicationHelper.menubar(@primary,@secondary) unless @primary.nil? %>
 
      <!-- fill in main page content -->
      <h1 class="page-title"><%= @page_title %></h1>
      <!-- secondary informational section, if applicable -->
      <% if flash[:notice] or flash[:errmsg] %>

          <div class = "alertbox">

              <% if flash[:notice] %>
                  <%= flash[:notice] %>
              <% end %>

              <% if flash[:notice] and flash[:errmsg] %>
                  <br/>
              <% end %>

              <% if flash[:errmsg] %>
                  <%= flash[:errmsg] %>
              <% end %>

          </div>

      <% end %>
      <%= yield %>

      <br/>
    
      <!-- if any fields are invalid, turn them red -->
      <!-- fixme: should also mention reasons later -->
      <% if flash[:invalid_fields] %>
         <SCRIPT LANGUAGE="Javascript">

              <% flash[:invalid_fields].each do |field, reason| %>
                  document.getElementById("form_<%= field.to_s() %>").style.backgroundColor='red';
              <% end %>
         
         </SCRIPT>
      <% end %>      

  </body>

</html>

