<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= yield :title -%></title>
  <!--%= stylesheet_link_tag 'default' %--> <%# remove me %>
  <%= stylesheet_link_tag 'layout' %>
  <%= stylesheet_link_tag 'components' %>
  <!--[if IE]>
    <%= stylesheet_link_tag 'ie' %>
  <![endif]-->
  <%= stylesheet_link_tag '/javascripts/jquery-treeview/ovirt.treeview.css' %>
  <%= stylesheet_link_tag 'flexigrid/flexigrid.css' %>
  <%= stylesheet_link_tag 'facebox' %>
  <!--%= stylesheet_link_tag 'jquery.ui-1.5b4/themes/flora/flora.tabs.css' %-->
  <%= javascript_include_tag "jquery-1.2.6.min.js" -%>
  <%= javascript_include_tag "jquery-treeview/jquery.treeview.js" -%>
  <%= javascript_include_tag "jquery-treeview/jquery.treeview.async.js" -%>
  <%= javascript_include_tag "flexigrid.js" -%>
  <%= javascript_include_tag "facebox.js" -%>
  <%= javascript_include_tag "jquery.timers.js" -%>
  <%= javascript_include_tag "jquery-svg/jquery.svg.pack.js" -%>
  <!--%= javascript_include_tag "jquery-svg/jquery.svgfilter.js" -%-->
  <%= javascript_include_tag "jquery-svg/jquery.svggraph.js" -%>
  <!--%= javascript_include_tag "jquery.ui-1.5b4/ui.core.js" -%>
  < %= javascript_include_tag "jquery.ui-1.5b4/ui.tabs.js" -%-->
  <%= javascript_include_tag "jquery.cookie.js" -%>
  <%= javascript_include_tag "jquery.livequery.pack.js" -%>
  <%= javascript_include_tag "jquery.form.js" -%>

  <!-- ovirt-specific functions defined here -->
  <%= javascript_include_tag "ovirt.js" -%>
    <script type="text/javascript">
      $(document).ready(function(){         
        //$("#tree").treeview({
            //animated: "normal",
            //current_pool_id:  <%if @current_pool_id == nil%>""<%else%><%=@current_pool_id%><%end%>,
          //  url: "<%=  url_for :controller =>'/hardware', :action => 'json_view_tree' %>",
          //  current: "current",
          //  hardware_url: "<%=  url_for :controller =>'/hardware', :action => 'show' %>",
          //  resource_url: "<%=  url_for :controller =>'/resources', :action => 'show' %>",
          //  action_type: "hyperlink"
	  //  })
            $('a[rel*=facebox]').livequery(function(){$(this).facebox();},function(){});
            $('#side a').livequery(function(){
                $(this).bind('click', function(){ 
                    currentNode = $(this).parent().parent()[0].id;
                    $('#side span').each(function(){
                        var nodeType = $(this).attr('class');
                        if (nodeType.indexOf('_') != -1){
                            nodeType = nodeType.substr(nodeType.indexOf('_') +1);
                            $(this).attr('class', nodeType);
                        }                        
                    });
                    var nodeType = $(this).parent().attr('class');
                    $(this).parent().attr('class', 'current_' + nodeType);
                    $.ajax({
                        url: $(this).attr('href'),
                        type: 'GET',
                        data: {ajax:true},
                        dataType: 'html',
                        success: function(data) {
                          $('#side-toolbar').html($(data).find('div.toolbar'));
                          $('#tabs-and-content-container').html($(data).not('div#side-toolbar'));
                        },
                        error: function(xhr) {alert(xhr.status + ' ' + xhr.statusText);}
                    });
                    return false;})},function(){});
            $('.tab_nav a').livequery(function(){
                $(this).bind('click', function(){
                    $('.tab_nav li').removeClass('current');
                    $(this).parent().addClass('current');
                    $.ajax({
                        url: $(this).attr('href'),
                        type: 'GET',
                        data: {ajax:true},
                        dataType: 'html',
                        success: function(data) { 
                          var wrapped_data = $(data).find('div').filter('[id=content-area]');
                          var my_parent = $(this).parent();
                          $('#content-area').html($(data).find('div').filter('[id=content-area]'));
                        },
                        error: function(xhr) {alert(xhr.status + ' ' + xhr.statusText);}
                    });
                    return false;})},function(){});
            $('.dialog_tab_nav a').livequery(function(){
                $(this).bind('click', function(){
                    $('.dialog_tab_nav li').removeClass('current');
                    $(this).parent().addClass('current');
                    $.ajax({
                        url: $(this).attr('href'),
                        type: 'GET',
                        data: {ajax:true},
                        dataType: 'html',
                        success: function(data) { 
                          var wrapped_data = $(data).find('div').filter('[id=dialog-content-area]');
                          var my_parent = $(this).parent();
                          $('#dialog-content-area').html($(data));
                        },
                        error: function(xhr) {alert(xhr.status + ' ' + xhr.statusText);}
                    });
                    return false;})},function(){});
	});

  function delete_vm_pool(id, parent)
  {
    if(confirm("Are you sure?")){
      $.post('<%= url_for :controller => "resources", :action => "destroy" %>',
             {id: id},
              function(data,status){
                // need to redirect to the parent using the new ajax reload stuff
                $("#vmpools_grid").flexReload()
		if (data.alert) {
		  alert(data.alert);
                }
               }, 'json');
    }
  }
  function delete_hw_pool(id, parent)
  {
    if(confirm("Are you sure?")){
      $.post('<%= url_for :controller => "hardware", :action => "destroy" %>',
             {id: id},
              function(data,status){
                // need to redirect to the parent using the new ajax reload stuff
		if (data.alert) {
		  alert(data.alert);
                }
               }, 'json');
    }
  }
      </script>
   <%= yield :scripts -%>
 </head>

 <body>

   <div id="header">
      <%= render :partial => '/layouts/header_redux' %>
   </div>

   <div id="side">
     <%= render :partial => '/layouts/tree' %>
   </div>

   <div id="side-toolbar" class="header_menu_wrapper">
     <%= render :partial => '/layouts/side_toolbar' %>
   </div>

   <div id="tabs-and-content-container">
     <div id="navigation-tabs" style="position:absolute; top:40px; left:250px;">
       <%= render :partial => '/layouts/navigation_tabs' %>
     </div> 
     <div id="main">
        <div id="content-area">
          <%= yield  %> <%# the rest of the center and right hand side %>
        </div>
     </div>
   </div>

 </body>
</html>
