<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= yield :title -%></title>
  <%= stylesheet_link_tag 'layout' %>
  <%= stylesheet_link_tag 'components' %>
  <!--[if IE]>
    <%= stylesheet_link_tag 'ie' %>
  <![endif]-->
  <%= stylesheet_link_tag '/javascripts/jquery-treeview/ovirt.treeview.css' %>
  <%= stylesheet_link_tag 'flexigrid/flexigrid.css' %>
  <%= javascript_include_tag "jquery.pack.js" -%>
  <%= javascript_include_tag "jquery-treeview/jquery.treeview.js" -%>
  <%= javascript_include_tag "jquery-treeview/jquery.treeview.async.js" -%>
  <%= javascript_include_tag "flexigrid.js" -%>
  <%= yield :scripts -%>
    <script type="text/javascript">
      $(document).ready(function(){         
        $("#tree").treeview({
            //animated: "normal",
            current_pool_id:  <%if @current_pool_id == nil%>""<%else%><%=@current_pool_id%><%end%>,
            url: "<%=  url_for :controller =>'/hardware', :action => 'json' %>",
            hardware_url: "<%=  url_for :controller =>'/hardware', :action => 'show' %>",
            resource_url: "<%=  url_for :controller =>'/resources', :action => 'show' %>"
	    })
	});
      </script>
   <%= yield :scripts -%>
 </head>

 <body>

   <div id="header">
      <%= render :partial => '/layouts/header_redux' %>
   </div>

   <div id="side">
     <%= render :partial => '/layouts/tree' %>
   </div>

   <div id="side-toolbar" class="header_menu_wrapper">
     <%= render :partial => '/layouts/side_toolbar' %>
   </div>

   <div id="main">
      <div id="navigation-tabs">
        <%= render :partial => '/layouts/navigation_tabs' %>
      </div> 
      <div id="content-area">
        <%= yield  %> <%# the rest of the center and right hand side %>
      </div>
   </div>

 </body>
</html>
