<div id="side-toolbar" class="header_menu_wrapper">
  <%= render :partial => '/layouts/side_toolbar' %>
</div>
<div id="navigation-tabs" style="position:absolute; top:40px; left:231px;">
 <%= render :partial => '/layouts/navigation_tabs' %>
</div> 
<div id="main">
  <div id="content_area">
  </div>
</div>