<%= error_messages_for 'user_quota' %>

<!--[form:user_quota]-->
<%= hidden_field 'user_quota', 'user_id', :value=>@user_id  %>

<%= text_field_with_label "Total Virtual CPUs", 'user_quota', 'total_vcpus'  %>

<%= text_field_with_label "Total Memory", 'user_quota', 'total_vmemory'  %>

<%= text_field_with_label "Total Virtual NICs", 'user_quota', 'total_vnics'  %>

<%= text_field_with_label "Total Storage", 'user_quota', 'total_storage'  %>
<!--[eoform:user_quota]-->

