<h1> User quota for <%= @user_quota.user.ldap_uid %></h1>
<% for column in UserQuota.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @user_quota.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @user_quota %> |
<%= link_to 'Back', :action => 'list' %>
