<% for column in StorageVolume.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @storage_volume.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @storage_volume %> |
<%= link_to 'Back', :action => 'list' %>
